{% from 'macros/likes.njk' import likeMacro %}

{% set information = data.widget.information.items[0] %}
{% set styles = information.style %}
{% set difficulty = information.difficulty %}
{% set practicality = information.practicality %}
{% set type = data.widget.type %}
{% set id = data.widget._id %}

<div class="b-additional b-widget">
    <h2 class="title">Mehr Informationen</h2>

    <div class="additionals">
        {% for information in data.widget.additionalInformation %}
            <a class="link" href="{{ information.url }}">{{ information.title
                }}</a>
        {% endfor %}
    </div>

    {{ likeMacro(styles, difficulty, practicality, type, id) }}
</div>