.ui-draggable {
    .b-context {
        background: $light-grey;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 50px;
    }
}

.b-context {

    .b-widget {
        margin-bottom: 50px;
    }
}