.b-header {
    display: flex;
    justify-content: space-between;
    height: 4vh;
    padding: 20px;

    .search-container {
        flex: 0 0 40%;

        input {
            @include f-medium-regular();
            @include box-shadow();

            width: 100%;
            line-height: 4vh;
            border-radius: 4px;
            background: $light-grey;
            padding: 0 10px;
            border: 0;

            &::placeholder {
                color: $black;
            }
        }
    }
}