.b-main.main-content {
    background: unset;
    box-shadow: unset;
    max-width: 600px;
    margin: 0 auto;
}

.b-main {
    .title {
        @include f-massive-bold();
        margin: 50px 0;
    }
}