.b-onboarding {
    display: none;
    width: 100vw;
    height: 100vh;
    background: $blue;
    position: fixed;
    top: 0;
    z-index: 9999;

    &.active {
        display: block;
    }

    .onboarding-container {
        position: relative;
        background: $white;
        width: 100%;
        height: 100%;
        padding: 30px 20px;

        .header {
            .title {
                @include f-massive-bold();
                margin: 0 0 20px;
            }

            .description {
                @include f-medium-regular();
                font-size: 15px;
            }
        }

        .style-cards {
            width: 100%;
            height: 205px;
            overflow-x: scroll;
            white-space: nowrap;
            scroll-snap-type: x mandatory;
            -webkit-scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            margin: 30px 0;

            .card {
                position: relative;
                width: 100%;
                height: 100%;
                background: $light-blue;
                border-radius: 10px;
                padding: 10px;
                display: inline-block;
                white-space: normal;
                scroll-snap-align: start;

                .title, .description {
                    color: $white;
                }

                .title {
                    @include f-massive-bold();
                    font-size: 30px;
                    margin: 0 0 30px;
                }

                .description {
                    @include f-medium-regular();
                    width: calc(100% - 20px);
                    position: absolute;
                    top: 60px;
                    white-space: normal;
                }
            }
        }

        .learning-styles {
            .slide-show-dots {
                display: flex;
                justify-content: center;

                input {
                    margin: 0 4px;
                }
            }
        }

        .submit {
            @include f-massive-bold();
            font-size: 30px;

            position: absolute;
            bottom: 30px;
            width: calc(100% - 40px);
            height: 70px;
            background: $blue;
            color: $white;
            border: 0;
            border-radius: 10px;
            -webkit-appearance: none;
        }
    }
}