@mixin f-massive-bold {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2;
}

@mixin f-big-bold {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

@mixin f-medium-regular {
    font-family: 'Helvetica Neue', sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
}