{% extends "layout.html" %}
{% from 'macros/post-preview.njk' import postPreviewMacro %}
{% from 'macros/onboarding.njk' import onboardingMacro %}

{% extends data.outerLayout %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block beforeMain %}
    <div class="b-header jst_ID" data-id="{{ data.page._id }}">

        <div class="logo-container">
            <a href="/" class="home-link">
                <img src="/img/logo.svg" alt="Site logo">
            </a>
        </div>

        <div class="search-container">
            <form method="GET" action="/search">
                <input placeholder="{{ data.query.q | e }}"
                       type="text" name="q" />
            </form>
        </div>

        <div class="avatar-container">
            {% if not data.user %}
                <a class="login-link link" href="{{ apos.prefix
                }}/login">Login</a>
            {% else %}
                <p>Logged In</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="b-main">
        <div class="b-search-header">
            <div class="meta">
                <h1 class="title">„{{ data.query.q | e }}“</h1>
                {% if data.docs.length == 1 %}
                    <p class="results">{{ data.docs | length }} Ergebnis</p>
                {% else %}
                    <p class="results">{{ data.docs | length }} Ergebnisse</p>
                {% endif %}
            </div>
        </div>
        {% for doc in data.docs %}
            {{ postPreviewMacro(doc) }}
        {% endfor %}
    </div>
    {% import 'apostrophe-pager:macros.html' as pager with context %}
    {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
{% endblock %}

{% block afterMain %}
    {{ onboardingMacro() }}
{% endblock %}
