<div class="b-quiz b-widget">
    <div class="question">
        {{ data.widget.question }}
    </div>

    <div class="answers">
        {% for answer in data.widget.answers %}
            <div class="answer" {% if answer.correct %}data-correct{% endif %}>
                {{ answer.answer }}
            </div>
        {% endfor %}
    </div>
</div>