{% extends "layout.html" %}
{% from 'macros/post-preview.njk' import postPreviewMacro %}

{% block title %}{{ data.piece.title }}{% endblock %}

{% block main %}
    <div class="b-main">
        <h2 class="title">Posts von {{ data.piece.username }}</h2>
        {% for post in data.piece._post %}
            {{ postPreviewMacro(post) }}
        {% endfor %}
    </div>
{% endblock %}