<div class="b-context">
    {{ apos.area(data.widget, 'areaContext', {
        widgets: {
            'additional': {},
            'exercises': {},
            'image': {},
            'quiz': {},
            'text': {},
            'video': {}
        }
    }) }}
</div>