<div class="b-context">
    {{ apos.area(data.widget, 'areaContext', {
        widgets: {
            'apostrophe-images': {
                size: 'full'
            },
            'text': {},
            'video': {}
        }
    }) }}
</div>