<div class="b-context" style="margin: 20px 0; border: 1px solid red; padding:
 20px;">
    {{ apos.area(data.widget, 'areaContext', {
        widgets: {
            'apostrophe-images': {
                size: 'full'
            },
            'apostrophe-rich-text': {
                toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
                styles: [
                    { name: 'Heading', element: 'h3' },
                    { name: 'Subheading', element: 'h4' },
                    { name: 'Paragraph', element: 'p' }
                ]
            },
            'video': {}
        }
    }) }}
</div>