{% extends "layout.html" %}

{% block beforeMain %}
    <div class="block hero">
        <div class="inner">
            <div class="hero-text">
                <h4>Welcome to my first Apostrophe site!</h4>
            </div>
        </div>
    </div>
{% endblock %}