{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{#{% block beforeMain %}#}
    {#<h2><a href="{{ data.home._url }}">{{ data.home.title }}</a></h2>#}
{#{% endblock %}#}

{% block main %}
    <div class="main-content">
        <h3>Hello world!
            {% if not data.user %}
                <a class="login-link" href="{{ apos.prefix }}/login">Login</a>
            {% endif %}
        </h3>
        {{ apos.area(data.page, 'body', {
            widgets: {
                'apostrophe-images': {
                    size: 'full'
                },
                'apostrophe-rich-text': {
                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
                    styles: [
                        { name: 'Heading', element: 'h3' },
                        { name: 'Subheading', element: 'h4' },
                        { name: 'Paragraph', element: 'p' }
                    ]
                }
            }
        }) }}
        {{ apos.singleton(data.global, 'footer', 'apostrophe-rich-text', {
            toolbar: [ 'Bold', 'Italic', 'Styles', 'Link', 'Unlink' ]
        }) }}
    </div>
{% endblock %}
