{% extends "layout.html" %}

{% block main %}
    <div class="main-content">
        {#{{ data.page.title | dump | safe }}#}
        <h1 class="title">{{ data.page.title }}</h1>
        {{ apos.area(data.page, 'body', {
            widgets: {
                'apostrophe-images': {
                    size: 'full'
                },
                'apostrophe-rich-text': {
                    toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ],
                    styles: [
                        { name: 'Heading', element: 'h3' },
                        { name: 'Subheading', element: 'h4' },
                        { name: 'Paragraph', element: 'p' }
                    ]
                },
                'analytics': {},
                'video': {}
            }
        }) }}
    </div>
{% endblock %}
