{% extends "layout.html" %}

{% block main %}
    <div class="main-content b-main">
        {#{{ data.page.title | dump | safe }}#}
        <div class="statistics">
            <h1 class="title">{{ data.page.title }}</h1>
            <p class="author">{{ data.page._author }}</p>
        </div>

        {{ apos.area(data.page, 'body', {
            widgets: {
                'context': {}
            }
        }) }}
    </div>
{% endblock %}
