{% extends "layout.html" %}
{% from 'macros/post-preview.njk' import postPreviewMacro %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
    <div class="b-main">
        <h2 class="title reccomendation">Deine Empfehlungen</h2>

        {% for piece in data.filteredPosts %}
            {{ postPreviewMacro(piece) }}
        {% endfor %}
    </div>
    {# YES, YOU NEED PAGINATION. You could set the `perPage` option to a large
       number, but eventually you will have performance issues. However, also
       see the discussion of "Load More" and infinite scroll solutions later in this
       tutorial. #}
    {% import 'apostrophe-pager:macros.html' as pager with context %}
    {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
{% endblock %}