{% extends "layout.html" %}
{% from 'macros/post-preview.njk' import postPreviewMacro %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
    <div class="b-main">
        <h2 class="title reccomendation">Deine Empfehlungen</h2>

        {% for piece in data.filteredPosts %}
            {{ postPreviewMacro(piece) }}
        {% endfor %}

        <div class="b-favorite-tags">
            <h2 class="title">Deine Kategorien</h2>
            <ul class="tags">
                {% for tag in data.piecesFilters.tags %}
                    <li class="tag">
                        <a class="link"
                           href="{{ data.page._url |
                           build({ tags: tag.value }) }}">
                            {{ tag.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% import 'apostrophe-pager:macros.html' as pager with context %}
    {{ pager.render({ page: data.currentPage, total: data.totalPages }, data.url) }}
{% endblock %}