{# in lib/modules/people-pages/views/show.html #}
{% extends "layout.html" %}
{% block title %}{{ data.piece.title }}{% endblock %}

{% block main %}
    {% set postInformation = {
        id: data.piece._id,
        tags: data.piece.tags
    } %}
    <div class="b-main">
        <div class="b-post-header">
            <div class="meta">
                <h1 class="title">{{ data.piece.title }}</h1>
                <p class="author">
                    von
                    <a href="{{ data.piece._apostropheUser._url }}" class="link">
                        {{ data.piece._apostropheUser.username }}
                    </a>
                </p>
            </div>
            <div class="favorite-container jst_favorite"
                data-information='{{ postInformation | json }}'
            >
                <div class="favorite-icon"></div>
            </div>
        </div>

        {{ apos.area(data.piece, 'body', {
            widgets: {
                'context': {}
            }
        }) }}
        <br />
        {{ apos.singleton(data.page, 'body', 'comments') }}
    </div>
{% endblock %}