{% macro likeMacro(style, difficulty, practicality, type, id) %}
    <div class="b-likes jst_likes"
         data-id="{{ id }}"
         data-style="{{ style }}"
         data-difficulty="{{ difficulty }}"
         data-practicality="{{ practicality }}"
         data-type="{{ type }}">

        <div class="like js-like">
            <img class="icon" src="{{ apos.prefix }}/img/upvote.svg" alt="">
        </div>
        <div class="dislike js-dislike">
            <img class="icon" src="{{ apos.prefix }}/img/downvote.svg" alt="">
        </div>

    </div>
{% endmacro %}