{% macro onboardingMacro() %}
    <div class="b-onboarding jst_onboarding">
        <div class="onboarding-container">
            <div class="header">
                <h1 class="title">Hey, </h1>
                <p class="description">schön das du hier bist. Wir wollen dir gerne mehr über die Welt und ihre Zusammenhänge beibringen. Wähl den zu dir passenden Lernstil, dann können wir los legen.</p>
            </div>
            <div class="style-cards js-style-cards">
                <div class="card">
                    <h2 class="title">Der Instinktive</h2>
                    <p class="description">Die Theorie interessiert mich nicht. Ich will lieber praktische Erfahrungen sammeln und die Probleme direkt lösen. Am liebsten wär es mir, so schnell wie möglich mit der Lösung des Problems zu beginnen. Auf meinen Instinkt ist immer Verlass.</p>
                </div>
                <div class="card">
                    <h2 class="title">Der Theoretiker</h2>
                    <p class="description">Mein Fachbereich sind Theorien und Konzepte. Ich stelle gerne Analysen auf und versuche Probleme logisch zu erklären. Ich beobachte alles ganz genau und versuche daraus meine eigene Erklärung abzuleiten.</p>
                </div>
                <div class="card">
                    <h2 class="title">Der Beobachter</h2>
                    <p class="description">Probleme sollten aus verschiedenen Perspektiven betrachtet werden. Ich versuche erstmal genügend Informationen zu sammeln, dann stell ich mir das Problem aus anderen Standpunkten vor. Gerne tausch ich mich mit anderen über meine Erkenntnisse aus.</p>
                </div>
                <div class="card">
                    <h2 class="title">Der Problemlöser</h2>
                    <p class="description">Ich fühl mich wohl wenn ich Probleme lösen kann. Theorien find ich interessant, aber nur dann, wenn man sie auch anwenden kann. Ich experimentiere gerne.</p>
                </div>
            </div>
            <form class="learning-styles">
                <div class="slide-show-dots js-dots">
                    <input type="radio" name="style" value="accomodating" checked>
                    <input type="radio" name="style" value="diverging">
                    <input type="radio" name="style" value="converging">
                    <input type="radio" name="style" value="assimilating">
                </div>
                <input value="Das bin ich!" type="submit" class="submit">
            </form>
        </div>
    </div>
{% endmacro %}